<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>

<body>


    <div class="container">

        <div class="box">
            <a
                href="https://images.unsplash.com/photo-1712792883641-c6bf0cc17ea3?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img src="https://images.unsplash.com/photo-1712792883641-c6bf0cc17ea3?q=80&w=1365&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>

        <div class="box">
            <a
                href="https://images.unsplash.com/photo-1712312217622-cb7bf56e51e0?q=80&w=1633&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img src="https://images.unsplash.com/photo-1712312217622-cb7bf56e51e0?q=80&w=1633&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>

        <div class="box">
            <a
                href="https://images.unsplash.com/photo-1711509423975-69f05caf460d?q=80&w=1475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
                <img src="https://images.unsplash.com/photo-1711509423975-69f05caf460d?q=80&w=1475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="image"></a>
            <div class="caption">Lorem ipsum </div>
        </div>
    </div>

</body>

</html>